/**
 * @author smt <kirillsaksin@yandex.ru>
 */

#sidebar:empty {
    display: none;
}
.panel {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 19px;
    margin-bottom: 20px;
    min-height: 20px;
}
.panel-inline {
    display: inline-block;
}
.panel.panel-mini {
    padding: 10px;
    margin-bottom: 10px;
    min-height: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.summary {
    padding: 5px 12px;
}
.pagination {
    margin: 0px !important;
}
.align-to-btn {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px !important;
}
.left-image {
    margin-right: 10px;
}
.material-image {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}
#userDataLoading {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
#page1 {
    padding-top: 101px;
}
[id*="page"] {
    margin-bottom: 10px;
}
.hide-menu {
    height: 20px;
    padding: 10px 15px;
    display: block;
    position: absolute;
    right: 0;
}
.show-menu {
    height: 18px;
    padding: 6px 10px;
    position: fixed;
    right: 10px;
    top: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    max-width: 10px;
    -webkit-transition: top 0.1s;
    -moz-transition: top 0.1s;
    -ms-transition: top 0.1s;
    -o-transition: top 0.1s;
    transition: top 0.5s;
    display: none;
}
.show-menu:hover {
    top: 41px;
}
#submenu {
    top:41px;
}
.h4 {
    font-size: 17.5px;
}
.h4 {
    margin: 10px 0px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
.padd-right {
    padding-left: 20px;
}
.input-append input[class*='span'],
.input-prepend input[class*='span'] {
    float: none !important;
}
.form-search .input-append .btn {
    border-radius: 0 !important;
}
.form-search .input-append .btn:last-child {
    border-radius: 0 14px 14px 0 !important;
}
.search-panel.panel {
    padding-bottom: 29px;
}
.product-in-grid > div {
    height: 375px;
}
.product-in-grid {
    margin-bottom: 20px;
}
.product-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.image-main {
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.image-mini {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 5px;
}
.image-mini.active {
    border-color: #08C;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.image-mini > div {
    width: 100%;
    height: 100%;
}
#viewer-main {
    margin-bottom: 10px;
}
.cart-total {
    padding-top: 4px;
    margin-top: 1px;
}
.sorter {
    margin-right: 5px !important;
}
.inline-product-image {
    max-width: 100px !important;
    max-height: 100px !important;
}
.h1 { font-size: 38.5px; }
.h2 { font-size: 31.5px; }
.h3 { font-size: 24.5px; }
.h4 { font-size: 17.5px; }
.h5 { font-size: 14px;   }
.h6 { font-size: 11.9px; }
.h1,.h2,.h3,.h4,.h5,.h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
.product-price {
    margin-bottom: 20px;
}
.product-in-grid {
    text-align: left;
}
[class*="product-in"] {
    transition: box-shadow 0.5s 0.1s;
    -moz-transition: box-shadow 0.5s 0.1s;
    -webkit-transition: box-shadow 0.5s 0.1s;
    -o-transition: box-shadow 0.5s 0.1s;
    -ms-transition: box-shadow 0.5s 0.1s;
}
[class*="product-in"]:hover {
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.product-status {
    margin-top: -15px;
    margin-bottom: 15px;
}
.first-pagination .pagination {
    margin: 15px !important;
}
#map-container {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}
#map:not([class*="col"]) {
    width: 100%;
    height: 100%;
}
#map:not([class*="col"]) > div {
    height: 290px !important;
    width: 390px !important;
}
.vblock {
    height: 350px;
}
.block-center {
    margin: 0 auto;
}
.product-list-items {
    text-align: center;
}